@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Sarabun", serif;
    background: linear-gradient(135deg, #1a1f35 0%, #0f172a 50%, #020617 100%);
    color: #e2e8f0;
    min-height: 100vh;
    line-height: 1.6;
  }


  /* Autofill */
  input:-webkit-autofill {
    background-color: transparent !important; 
    color: #000 !important; 
    box-shadow: 0 0 0px 1000px transparent inset !important; 
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; 
}
 /* Autofill End */

 /* Toastify */
  .Toastify__toast{
    font-size: 14px;
    max-width: 90%;
    padding: 5px 5px !important;
}
  @media (max-width: 600px){
      .Toastify__close-button{
        top: 2px !important;
      }
    .Toastify__toast{
        max-width: 80%;
        font-size: 12px;
        margin: 20px 10px 0px 0px ;
    }
  }
  /* Toastify End*/

